/*------------------------------------------------------------------------------*/
/*-------------------------------- Explorar CSS --------------------------------*/
/*------------------------------------------------------------------------------*/

:root {
    --cinzaBase: rgb(220, 220, 220);
    --cinzaBasee: rgb(158, 158, 158);
    --cinzaBasec: rgb(215, 214, 214);
    --cinzaE8EAF0: #E8EAF0;
    --cinzaE2E3E8: #E2E3E8;
    --cinzad8d8d8: #d8d8d8;

    --laranjaBase: rgb(228, 95, 16);

    --brancoBase: rgb(255, 255, 255);

    --preto: #0E0E0E;

    --azulBase: #2B63F0;
    --azulBasee: #00008b;
    --azul76ADFF: #76ADFF;

    --azulBasec: rgb(116, 84, 233);
    --roxobase: #942af1;

    --roxoc: rgb(172, 161, 210);

    --branco: #f3f3f3;

    --verde: #357635;

    --brancomenuperfil: #E6E6E6;

    --brancohovermenuham: rgba(217, 217, 217, 1);



    --cinzaescurofundodomudartema: #3A3A3A;

    --vermelhom: #EF0000;
    --ModoEscuroVermelho: #fd4848;



    --ModoEscuroBase: #1F1F1F;
    --ModoEscuroFilt: #131313;
    --ModoEscuroMesc: #656565;
    --ModoEscuroMesc2: #555555;


    --ModoEscuroFontV: #5AB3FF;
    --ModoEscuroFontC: #E197FF;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--brancoBase);
}

/*-------------------------------- Modo Escuro --------------------------------*/

.modoEscuro {
    color: white;
    background-color: var(--ModoEscuroBase);
}

.modoEscuro .botaoAdcImgg,
.modoEscuro .ferramentas,
.modoEscuro .txt-area-and-button button,
.modoEscuro .txt-area-and-button textarea,
.modoEscuro .categoria,
.modoEscuro .textoTituloProjeto {
    background-color: var(--ModoEscuroFilt);
    color: white;
}

.modoEscuro .left-projeto,
.modoEscuro .adcProjeto {
    background-color: var(--ModoEscuroBase);
    color: white;
}

.modoEscuro .botoesF button,
.modoEscuro .botaoOutros,
.modoEscuro .botoesEdit button,
.modoEscuro .categoria button {
    background-color: var(--ModoEscuroMesc2);
    color: white;
}

.modoEscuro .txt-area-and-button button:hover,
.modoEscuro .txt-area-and-button textarea:hover,
.modoEscuro .txt-area-and-button textarea:focus,
.modoEscuro .botaoAdcImgg div button:hover,
.modoEscuro .textoTituloProjeto:hover {
    background-color: var(--ModoEscuroMesc2);
}

.modoEscuro .botaoAdcImgg div label:hover {
    background-color: var(--ModoEscuroFontV);
    color: var(--brancoBase);
}

.modoEscuro .botaoAdcImgg div label {
    border: 2px solid var(--ModoEscuroFontV);
    color: var(--brancoBase);
}

/* ----------------------------------------- */

.adcProjeto {
    width: 100%;
    background-color: var(--cinzaE8EAF0);
    border-radius: 1rem;
    display: flex;
    color: var(--preto);
    padding: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.containerAdcProjeto {
    height: 100%;
    width: 100%;
    display: flex;
}

.left-projeto {
    width: 70%;
    height: 100%;
    border-right: 1px solid var(--cinzaBasee);
    padding-right: 2rem;
    border-radius: 1rem 0 0 1rem;
}

.right-projeto {
    width: 30%;
    height: 100%;
    margin-left: 2rem;
}

.right-projeto h4 {
    margin: 1rem 0;
}

.ferramentas {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.6rem;
    padding: 0.5rem 0 4rem 0;
    background-color: var(--cinzaE2E3E8);
}

.ferramentas h5 {
    padding: 0.3rem;
    border-bottom: 1px solid var(--cinzaBasee);
    width: 95%;
    margin-left: 2.5%;
}

.botoesF,
.botoesEdit {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

.botoesF div {
    width: 100%;
    padding: 1rem;
}

.botoesF div button {
    width: 100%;
}

.botoesF button,
.botaoOutros,
.botoesEdit button {
    width: 45%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--preto);
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0.6rem;
    background-color: var(--cinzaE8EAF0);
    transition: 0.3s;
}

.botoesF button:hover,
.botaoOutros:hover,
.botoesEdit button:hover {
    transform: scale(107%);

}

.botaoOutros {
    width: 100%;
}

.botoesF button img,
.botoesEdit button img {
    height: 1rem;

}

.botaoAdcImgg {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.6rem;
    margin-top: 1rem;
    background-color: var(--cinzaE2E3E8);
}


.botaoAdcImgg div {
    display: flex;
    gap: 1rem;
    margin-top: 0.6rem;
}

.botaoAdcImgg div label {
    background: none;
    border: 2px solid var(--azulBase);
    border-radius: 0.6rem;
    width: 20rem;
    height: 8rem;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botaoAdcImgg div label:hover {
    background-color: var(--azulBase);
    color: var(--branco);
    transform: scale(1.05);
}

.botaoAdcImgg div label img {
    height: 1.5rem;
}

/* .categorias{
    margin-top: 5rem;
} */

.categoria {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.6rem;
    padding: 1rem;
    background-color: var(--cinzaE2E3E8);

}

.catt {
    column-count: 2;
    break-inside: avoid-column;
    gap: 1rem;
}

.catt label {
    width: 100%;
    height: 3rem;
    color: var(--preto);
    font-size: clamp(1rem, 1.8vh, 3rem);
    padding: 0.5rem;
    border-radius: 0.6rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.5rem;
    background-color: var(--cinzaE8EAF0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.catt label:hover {
    transform: scale(107%);
}

.catt input[type="radio"] {
    display: none;
}

.catt input[type="radio"]:checked+label {
    background-color: var(--azulBase);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    transition: 0.2s;
}


.categoria button:hover {
    transform: scale(107%);
}

.txt-area-and-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 2rem;
}


.txt-area-and-button button,
.txt-area-and-button textarea,
.textoTituloProjeto {
    width: 100%;
    height: 3rem;
    background: none;
    border: none;
    font-size: clamp(1rem, 1.8vh, 3rem);
    padding: 0.5rem;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    resize: none;
    background-color: var(--cinzaE2E3E8);
    outline: none;
    transition: 0.3s;
}

#btn-fechar {
    width: 2rem;
    height: 2rem;
    background-color: var(--branco);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.txt-area-and-button button:hover,
.txt-area-and-button textarea:hover,
.txt-area-and-button textarea:focus,
.botaoAdcImgg div button:hover {
    background-color: var(--cinzad8d8d8);
}

/* notificação */

/* .caixadenotificacaorealizadocomsucesso {
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    padding: 18px 22px;
    max-width: 400px;
    position: fixed;
    top: -15rem;
    left: 40%;
    transition: top 0.3s ease-in-out;
}

.caixadenotificacaorealizadocomsucesso h2 {
    font-size: 18px;
    margin-bottom: 12px;
    color: var(--preto);
}

.caixadenotificacaorealizadocomsucesso p {
    color: var(--cinzaBasee);
    font-size: 14px;
    margin-bottom: 24px;
}

.actions {
    display: flex;
    justify-content: end;
    gap: 16px;
}

.btn-cancel {
    color: red;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.btn-confirm a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.caixadenotificacaocompletarcadastro {
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    padding: 18px 22px;
    max-width: 400px;
    position: fixed;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.3s ease-in-out;
    z-index: 1;
}

.caixadenotificacaocompletarcadastro h2 {
    font-size: 18px;
    margin-bottom: 12px;
}

.caixadenotificacaocompletarcadastro p {
    color: #666;
    font-size: 14px;
    margin-bottom: 24px;
} */

/* Container da notificação */
.containernotificacao {
    position: fixed;
    top: 20px;
    right: 20px;
    /* fixa no lado direito */
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

/* Caixa da notificação */
.notificacao {
    background: #333;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    min-width: 250px;
    max-width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    /* opacity: 1; */
    /* transform: translateX(100px); */
    /* transform: translateX(0); */
    transition: opacity 0.3s ease;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

/* fim da notificação */

@media screen and (max-width: 1200px) {

    .containerAdcProjeto {
        display: block;
    }

    .left-projeto {
        width: 100%;
        height: auto;
        border-right: none;
        padding-right: 0;
        border-radius: 1rem 1rem 0 0;
        border: none;
    }

    #text-new-post {
        margin-bottom: 1rem;
    }

    .right-projeto {
        width: 100%;
        margin-left: 0;
    }

    .categorias {
        margin-top: 2rem;
    }

    .botaoAdcImgg div label {
        width: 40%;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .botaoAdcImgg div {
        width: 100%;
        display: flex;
        justify-content: center;
    }



}