/*------------------------------------------------------------------------------*/
/*-------------------------------- Explorar CSS --------------------------------*/
/*------------------------------------------------------------------------------*/

:root {
    --cinzaBase: rgb(220, 220, 220);
    --cinzaBasee: rgb(158, 158, 158);
    --cinzaBasec: rgb(215, 214, 214);
    --cinzaE8EAF0: #E8EAF0;
    --cinzaE2E3E8: #E2E3E8;
    --cinzad8d8d8: #d8d8d8;

    --laranjaBase: rgb(228, 95, 16);

    --brancoBase: rgb(255, 255, 255);

    --preto: #0E0E0E;

    --azulBase: #2B63F0;
    --azulBasee: #00008b;
    --azul76ADFF: #76ADFF;

    --azulBasec: rgb(116, 84, 233);
    --roxobase: #942af1;

    --roxoc: rgb(172, 161, 210);

    --branco: #f3f3f3;

    --verde: #357635;

    --brancomenuperfil: #E6E6E6;

    --brancohovermenuham: rgba(217, 217, 217, 1);



    --cinzaescurofundodomudartema: #3A3A3A;

    --vermelhom: #EF0000;
    --ModoEscuroVermelho: #fd4848;



    --ModoEscuroBase: #1F1F1F;
    --ModoEscuroFilt: #131313;
    --ModoEscuroMesc: #656565;
    --ModoEscuroMesc2: #555555;


    --ModoEscuroFontV: #5AB3FF;
    --ModoEscuroFontC: #E197FF;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--brancoBase);
}

/*-------------------------------- Modo Escuro --------------------------------*/

.modoEscuro,
.modoEscuro .adicionarCurso,
.modoEscuro .mainaulas {
    background-color: var(--ModoEscuroBase);
    color: var(--brancoBase);
}

.modoEscuro .textoTituloCurso,
.modoEscuro .text-new-curso,
.modoEscuro .fotocurso,
.modoEscuro .descricaocursoeinserir button,
.modoEscuro .containeradicionaraulas button,
.modoEscuro .ferramentas,
.modoEscuro .categorias,
.modoEscuro .parametro {
    background-color: var(--ModoEscuroFilt);
    color: var(--brancoBase);
}

.modoEscuro .textoTituloCurso:hover,
.modoEscuro .text-new-curso:hover,
.modoEscuro .descricaocursoeinserir textarea:hover,
.modoEscuro .descricaocursoeinserir button:hover,
.modoEscuro,
.modoEscuro .botoesF button,
.modoEscuro .botoesEdit button,
.modoEscuro .categorias button,
.containeradicionaraulas button:hover,
.modoEscuro .paramegrup,
.modoEscuro .paramegrup select,
.modoEscuro .paramegrup input {
    background-color: var(--ModoEscuroMesc2);
    color: white;
}

.modoEscuro .labelAdcImg {
    border: 2px solid var(--ModoEscuroFontC);
    color: var(--brancoBase);
}

.modoEscuro .labelAdcImg:hover {
    background-color: var(--ModoEscuroFontC);
    color: var(--brancoBase);
}

/*-------------------------------- Fim Modo Escuro --------------------------------*/

/*-------------------------------- Main AdicionarCurso --------------------------------*/
.adicionarCurso {
    width: 100%;
    background-color: var(--cinzaE8EAF0);
    display: flex;
    color: var(--preto);
    padding: 2rem;
}

/* -----Lado Esquerdo----- */
.ladoEsquerdo {
    width: 70%;
    height: 100%;
    border-right: 1px solid var(--cinzaBasee);
    padding-right: 2rem;
    border-radius: 1rem 0 0 1rem;
}

.TituloCursoDiv {
    margin-bottom: 1rem;
}

.fotocurso {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.6rem;
    margin-top: 1rem;
    background-color: var(--cinzaE2E3E8);
}

.fotocurso p {
    margin-bottom: 0.6rem;
}

.fotocursoimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.6rem;
}

.labelAdcImg {
    background: none;
    border: 2px solid var(--roxobase);
    border-radius: 0.6rem;
    width: 20rem;
    height: 8rem;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.labelAdcImg:hover {
    background-color: var(--roxobase);
    color: var(--brancoBase);
    transform: scale(1.05);
}

.textoTituloCurso,
.text-new-curso {
    width: 100%;
    height: 4rem;
    background: none;
    border: none;
    font-size: clamp(1rem, 1.8vh, 3rem);
    padding: 0.5rem;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    resize: none;
    background-color: var(--cinzaE2E3E8);
    outline: none;
    transition: 0.3s;
}

/* .text-new-curso{
    margin-bottom: 1rem;
} */

.ferramentas,
.categorias,
.parametro {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.6rem;
    padding: 0.5rem 1rem 1rem 1rem;
    background-color: var(--cinzaE2E3E8);
}

.descricaocursoeinserir {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

.descricaocursoeinserir button,
.containeradicionaraulas button {
    width: 100%;
    height: 3rem;
    background: none;
    border: none;
    color: var(--preto);
    font-size: clamp(1rem, 1.8vh, 3rem);
    padding: 0.5rem;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    resize: none;
    background-color: var(--cinzaE2E3E8);
    outline: none;
    transition: 0.3s;
}

/* -----Lado direito----- */
.ferramentas h5 {
    padding: 0.3rem;
    border-bottom: 1px solid var(--cinzaBasee);
    width: 95%;
    margin-left: 2.5%;
}

.ladoDireito h4 {
    margin-top: 1rem;
}

.ladoDireito {
    width: 30%;
    height: 100%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.botoesF,
.botoesEdit {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

.botoesF div {
    width: 100%;
    padding: 1rem;
}

.botoesF div button {
    width: 100%;
}

.botoesF button,
.botaoOutros,
.botoesEdit button {
    width: 45%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--preto);
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0.6rem;
    background-color: var(--cinzaE8EAF0);
    transition: 0.3s;
}

.botoesF button:hover,
.botaoOutros:hover,
.botoesEdit button:hover,
.categorias button:hover {
    transform: scale(1.05);
}

.containeradicionaraulas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
}

.Categoria h4,
.Parametros h4 {
    margin-bottom: 1rem;
}

.categoria {
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
    border-radius: 0.6rem;
    padding: 1rem;

}


.containernotificacao {
    position: fixed;
    top: 20px;
    right: 20px;
    /* fixa no lado direito */
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

/* Caixa da notificação */
.notificacao {
    background: #333;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    min-width: 250px;
    max-width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    /* opacity: 1; */
    /* transform: translateX(100px); */
    /* transform: translateX(0); */
    transition: opacity 0.3s ease;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}


.catt {
    column-count: 2;
    break-inside: avoid-column;
    gap: 1rem;
}

.catt label {
    width: 100%;
    height: 3rem;
    color: var(--preto);
    font-size: clamp(1rem, 1.8vh, 3rem);
    padding: 0.5rem;
    border-radius: 0.6rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.5rem;
    background-color: var(--cinzaE8EAF0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.catt label:hover {
    transform: scale(107%);
}

.catt input[type="radio"] {
    display: none;
}

.catt input[type="radio"]:checked+label {
    background-color: var(--azulBase);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    transition: 0.2s;
}

.parame {
    display: flex;
    flex-direction: column;

}

.paramegrup {
    width: auto;
    height: 3rem;
    background: none;
    border: none;
    color: var(--preto);
    font-size: clamp(1rem, 1.8vh, 3rem);
    padding: 0.5rem;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    resize: none;
    background-color: var(--cinzaE8EAF0);
    outline: none;
    transition: 0.3s;
    margin: 0.6rem 0.3rem 0 0.3rem;
}

.paramegrup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paramegrup select,
.paramegrup input {
    width: 40%;
    height: 3rem;
    background: none;
    border: none;
    color: var(--preto);
    font-size: clamp(1rem, 1.8vh, 3rem);
    padding: 0.5rem;
    border-radius: 0.4rem;
    resize: none;
    outline: none;
    transition: 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* -----adicionar aulas----- */

.mainaulas {
    background-color: var(--cinzaE8EAF0);
    color: var(--preto);
    padding: 2rem;
}


/*-------------------------------- Fim Main AdicionarCurso --------------------------------*/

/*-------------------------------- Midia --------------------------------*/

@media screen and (max-width: 1200px) {

    .adicionarCurso {
        display: block;
        height: 100%;
        width: 100%;
    }

    .ladoEsquerdo {
        width: 100%;
        height: 70%;
        border-right: none;
        padding: 0;
    }

    .ladoDireito {
        width: 100%;
        height: auto;
        padding: 0;
    }

}