:root {
    --cinzaBase: rgb(220, 220, 220);

    --cinzaBasee: rgb(158, 158, 158);

    --cinzaBasec: rgb(215, 214, 214);

    --laranjaBase: rgb(228, 95, 16);

    --brancoBase: rgb(255, 255, 255);

    --preto: #0E0E0E;

    --azulBase: #2B63F0;

    --azulBasee: #00008b;

    --azulBasec: rgb(116, 84, 233);

    --roxobase: #942af1;

    --roxoc: rgb(172, 161, 210);

    --branco: #f3f3f3;

    --vermelhom: #EF0000;



    --ModoEscuroBase: #1F1F1F;
    --ModoEscuroFilt: #131313;
    --ModoEscuroMesc: #656565;
    --ModoEscuroMesc2: #555555;

    --ModoEscuroFontV: #5AB3FF;
    --ModoEscuroFontC: #E197FF;


}

/*-------------------------------- Modo Escuro --------------------------------*/


.modoEscuro {
    color: white;
    background-color: var(--ModoEscuroBase);
}

/*-------------------------------- Modo Escuro fim--------------------------------*/

.h1ajuda {
    font-size: 3.5rem;
    margin-top: 3.5rem;
    margin-left: 3.5rem;
}

.migalhadepao {
    margin-left: 6rem;
    margin-top: 1rem;
    display: flex;
}

.migalhadepaosobrenoshome {
    color: var(--cinzamigalha);
}

.migalhadepaosobrenos {
    color: var(--azulBase);
}

.usuarioajuda {
    margin-left: 3.5rem;
    margin-top: 3.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.usuarioajuda .usuariosinfoeimg ,.portiajudaimg{
    margin-right: 1rem;
}

.usuarioajuda img {
    width: 500px;
    display: flex;
    margin-right: 5rem;

}

.usuarioajuda h2 {
    color: var(--azulBase);
}

.portajuda {
    margin-left: 3.5rem;
    margin-top: 3.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.portajuda h2 {
    color: var(--azulBase);
}

.usuarioajuda .textousuarioajuda {
    margin-top: 2rem;
}

.textousuarioportifolioajuda {
    margin-top: 2rem;
}

.portinfoeimg {
    display: flex;
    align-items: center;
}

.portinfoeimg img {
    width: 500px;
    display: flex;
    margin-right: 5rem;
}

.cursosvagasajuda {
    margin-left: 3.5rem;
    margin-top: 3.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.cursosvagasajuda img {
    width: 500px;
    display: flex;
    margin-right: 5rem;
}

.infocursosevagas h2 {
    color: var(--azulBase);
}

.textocursoevagasajuda {
    margin-top: 2rem;
}

.cadastroajuda {
    margin-left: 3.5rem;
    margin-top: 3.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.infocadastroajuda h2 {
    color: var(--azulBase);
}

.textocadastroajuda {
    margin-top: 2rem;
}

.imagemcadastro img {
    width: 500px;
    display: flex;
    margin-right: 5rem;
}

.imagemcamera {
    display: flex;
    align-items: center;
}

.imagemcurvagas {
    display: flex;
    align-items: center;
}

.imagemcadastro {
    display: flex;
    align-items: center;
}

@media screen and (max-width:1300px) {

    .imagemcadastro img {
        width: 400px;
    }

    .cursosvagasajuda img {
        width: 400px;
    }

    .portinfoeimg img {
        width: 400px;
    }

    .usuarioajuda img {
        width: 400px;
    }

}

@media screen and (max-width:1200px) {

    .imagemcadastro img {
        width: 300px;
    }

    .cursosvagasajuda img {
        width: 300px;
    }

    .portinfoeimg img {
        width: 300px;
    }

    .usuarioajuda img {
        width: 300px;
    }

}

@media screen and (max-width:1100px) {

    .imagemcadastro img {
        width: 200px;
    }

    .cursosvagasajuda img {
        width: 200px;
    }

    .portinfoeimg img {
        width: 200px;
    }

    .usuarioajuda img {
        width: 200px;
    }

}

@media screen and (max-width:1000px) {

    .imagemcadastro img {
        width: 150px;
    }

    .cursosvagasajuda img {
        width: 150px;
    }

    .portinfoeimg img {
        width: 150px;
    }

    .usuarioajuda img {
        width: 150px;
    }

}

@media screen and (max-width:950px) {

    .imagemcadastro {
        display: none;
    }

    .imagemcurvagas {
        display: none;
    }

    .portinfoeimg {
        display: none;
    }

    .imagemcamera {
        display: none;
    }


    .textousuarioajuda {
        display: flex;
        justify-content: center;
    }

    .textousuarioportifolioajuda {
        display: flex;
        justify-content: center;
    }


    .textocursoevagasajuda {
        display: flex;
        justify-content: center;
    }

    .textocadastroajuda {
        display: flex;
        justify-content: center;
    }

    .migalhadepao{
        margin-left: 1rem;
    }
    .h1ajuda{
        margin-left: 1rem;
    }

}

@media screen and (max-width:750px) {

    .cadastroajuda {
        margin-left: 0rem;
        display: block;
        justify-content: space-between;
    }

    .cursosvagasajuda {
        margin-left: 0rem;
        display: block;
        justify-content: space-between;
    }

    .portajuda {
        margin-left: 0rem;
        display: block;
        justify-content: space-between;
    }

    .usuarioajuda {
        margin-left: 0rem;
        display: block;
        justify-content: space-between;
    }

}


@media screen and (max-width:700px) {

    .cadastroajuda {
        font-size: 1.2rem;
    }

    .cursosvagasajuda {
        font-size: 1.2rem;
    }

    .portajuda {
        font-size: 1.2rem;
    }

    .usuarioajuda {
        font-size: 1.2rem;
    }

}
@media screen and (max-width:530px){

    .cadastroajuda {
        font-size: 1rem;
    }

    .cursosvagasajuda {
        font-size: 1rem;
    }

    .portajuda {
        font-size: 1rem;
    }

    .usuarioajuda {
        font-size: 1rem;
    }


}

@media screen and (max-width:430px){

    .cadastroajuda {
        font-size: 0.8rem;
    }

    .cursosvagasajuda {
        font-size: 0.8rem;
    }

    .portajuda {
        font-size: 0.8rem;
    }

    .usuarioajuda {
        font-size: 0.8rem;
    }
}