:root {
    --cinzaBase: rgb(220, 220, 220);

    --cinzaBasee: rgb(158, 158, 158);

    --cinzaBasec: rgb(215, 214, 214);

    --laranjaBase: rgb(228, 95, 16);

    --brancoBase: rgb(255, 255, 255);

    --preto: #0E0E0E;

    --pretoBorda: rgba(5, 5, 5, 0.5);

    --azulBase: #2B63F0;

    --azulBasee: #00008b;

    --azulBasec: #76ADFF;

    --roxobase: #942af1;

    --roxoc: rgb(172, 161, 210);

    --branco: #f3f3f3;

    --vermelhom: #EF0000;

    --cinzaBorda: rgba(162, 162, 162,0.5);


    --ModoEscuroBase: #1F1F1F;
    --ModoEscuroFilt: #131313;
    --ModoEscuroMesc: #656565;
    --ModoEscuroMesc2: #555555;

    --ModoEscuroFontV: #5AB3FF;
    --ModoEscuroFontC: #E197FF;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/*-------------------------------- Modo Escuro --------------------------------*/


.modoEscuro {
    color: white;
    background-color: var(--ModoEscuroBase);
}


.modoEscuro .avisos h1, .modoEscuro .atualizacoes h2, .modoEscuro .migalhadepaosobrenos {
    color: var(--ModoEscuroFontV);
}
.modoEscuro .containerUpdate{
    background-color: #3b3b3b;
    border:var(--pretoBorda);
}

.modoEscuro .dataUpdate{
    color: var(--azulBasec);
}


/* .modoEscuro .servidor , .modoEscuro .portifolios,.modoEscuro .aparencia , .modoEscuro .responsividade{
    border: 2px solid var(--brancoBase);
} */
/*-------------------------------- Modo Escuro Fim --------------------------------*/


.migalhadepao {
    margin-left: 6rem;
    margin-top: 1rem;
    display: flex;
}

.migalhadepaosobrenoshome {
    color: var(--cinzamigalha);
}

.migalhadepaosobrenos {
    color: var(--azulBase);
}



.avisos {
    display: flex;
    flex-direction: column;
    padding: 4rem 7rem;
    /* height: 45vh; */
}
.avisos h1{

    font-size: 3.5rem;
    color: var(--azulBase);
    margin-bottom: 2rem;

}
.textoavisos{

    margin-top: 1rem;
    font-size: 1.5rem;

}
.atualizacoes{
    display: flex;
    flex-direction: column;
    padding: 4rem 7rem ;
}
.atualizacoes h2{
    font-size: 2.5rem;
    color: var(--azulBase);
    margin-bottom: 2rem;
    margin-top: 2rem;

}
.caixaatualizacaoesavisos{
    display: flex;
    flex-direction: column;
}
.containerUpdate{
    display: flex;
    flex-direction: column;
    margin-bottom: 2.6rem;
    padding: 2rem 1rem;
    border: 1px solid var(--cinzaBorda);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.25);
    border-radius: 5px;
    background-color: #F5F5F5;
}
.contUpdHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.contUpdText{
    font-size: 1.2rem;
     height: 5rem;
}
.containerUpdate img {
    width: 2rem;
    height: 1rem;
    margin-right: 6px;
}

.dataUpdate{
    font-size:1.5rem;
    font-weight: 600;
    color: var(--azulBase);
}
.textoavisos p{
    font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {

    .textoavisos p{
        font-size: 1.3rem;
    }
    .avisos {
        padding: 4rem 3rem;
    }
    
    .atualizacoes{
        padding: 4rem 3rem ;
    }
}
@media screen and (max-width: 750px){

    .textoavisos p{
        font-size: 1.2rem;
    }
    .contUpdHeader{
        font-size: 1.3rem;
    }
    .contUpdText{
        font-size: 1rem;
    }
    .avisos {
        padding: 4rem 2rem;
    }
    
    .atualizacoes{
        padding: 4rem 2rem ;
    }
}
@media screen and (max-width: 660px){

    .textoavisos p{
        font-size: 1rem;
    }
    .contUpdHeader{
        font-size: 1.1rem;
    }
    .contUpdText{
        font-size: 0.8rem;
    }
    
}
@media screen and (max-width: 500px){

    .textoavisos p{
        font-size: 0.8rem;
    }
      .contUpdHeader{
        font-size: 0.9rem;
    }
    .contUpdText{
        font-size: 0.6rem;
    }
    .atualizacoes{
        padding: 4rem 1rem ;
    }
}