/* filtro flutuante */
:root {
    --cinzaBase: rgb(220, 220, 220);

    --cinzaBasee: rgb(158, 158, 158);

    --cinzaBasec: rgb(215, 214, 214);

    --laranjaBase: rgb(228, 95, 16);

    --brancoBase: rgb(255, 255, 255);

    --preto: #0E0E0E;

    --azulBase: #2B63F0;

    --azulBasec: rgb(116, 84, 233);

    --roxobase: #942af1;

    --roxoc: rgb(172, 161, 210);

    --vermelhom: #EF0000;

    --ModoEscuroBase: #1F1F1F;
    --ModoEscuroMesc: #656565;
    --ModoEscuroFilt: #131313;

    --ModoEscuroFontC: #E197FF;

  
}


/*-------------------------------- Modo Escuro --------------------------------*/

.modoEscuro {
    color: var(--brancoBase);
    background-color:var(--ModoEscuroBase);
}

.modoEscuro .filtroflutuante{
   
    background-color: var(--ModoEscuroFilt);
    border: 1px solid rgb(27, 27, 27)
    
}

.modoEscuro a.migalhadepaocursos ,.modoEscuro .campo p , .modoEscuro .campos p , .modoEscuro .indefi , .modoEscuro .temmes , .modoEscuro .presen , .modoEscuro .homee ,.modoEscuro .limparfiltro a{
    color: white; 
}

.modoEscuro .filtroflutuante h2 , .modoEscuro p.filtrar, 
.modoEscuro .aplicar a , .modoEscuro h1 {
    color: var(--ModoEscuroFontC);
}

.modoEscuro .linhacampos, .modoEscuro .linhaPreco , .modoEscuro .linhahabi , .modoEscuro .duracao , .modoEscuro .loc {
    border-bottom: var(--ModoEscuroFontC) 1px solid;
}

.modoEscuro .caminhonavegaçãovagas a {
    color: rgb(255, 255, 255);
}

.migalhadepaocursos a{
    color: var(--roxobase);
}
.caminhonavegaçãovagas a{
    color: black;
}
.caminhonavegaçãovagas{
    margin: 2rem;
}
                                          /* Main */
.prCursos{
    height: 60rem;
    display: flex;
}
main{
    height: 80rem;
}
.filtroflutuante{

    background-color: transparent;
    border: 1px solid var(--cinzaBasee);
    margin-top: 5rem;
    height: 85vh;
    width: 20%;
    border-radius: 10px;
    padding: 3rem;
}
.tiposdecursoscursos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 2rem;
    gap: 1rem;
}
.precocursos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
    gap: 1rem;
}
.precominmax{
    display: flex;
    border: none;
    width: 15%;
    height: 20px;
    background-color: var(--cinzaBase);
    border-radius: 5px;
}
.divinputpreco{
    display: none;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
}
.duracaocursos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
    gap: 1rem;
}
.localcursos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
    gap: 1rem;
}
.titulosfiltroflutuante{
    color: var(--roxobase);
    border-bottom: 1.5px solid var(--roxobase);
}
.filtroflutuante img{
    width: 50px;
}
.titulofiltroflutuante{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}
.titulofiltroflutuante h2{
    font-size: 2.5rem;
    color: var(--roxobase);
}
.aplicarfiltrocursos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}
.aplicarfiltrocursos button{
    background-color: transparent;
    color: var(--roxobase);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
}
.limparfiltrocursos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.limparfiltrocursos button{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}
.setaoneoffcursos img{
    width: 15px;
}
.setaoneoffcursos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.faixadeprecocursos{
    display: flex;
    justify-content: start;
    gap: 0.5rem;
}
#setapreco, #seta{
    transition: transform 0.5s;
}
.faixadeprecocursos{
    display: none;

}

.container{

    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 65%;
    height: 70rem;
    position: relative;
    bottom: 51rem;
    left: 27rem;
    gap: 2rem 1rem;
}
.container .caixas{
    border-radius: 1rem;
   background-color: var(--cinzaBase);
    padding: 20px;
    height: 20rem;
    width: 34rem;
}
.container .caixas img{
    width: 90%;
    height: 2rem;
}
.container .caixas .imgcont{
    display: flex;
    justify-content: center;
    height: 13rem;
}
.container .caixas .imgcont img{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;

}

.caixas .nomeddocurso{
    font-size: 1.5rem;
    color: var(--preto);
    margin-top: 0.5rem;
}
.nomecureauto{
    background-color: yellowgreen;
    width: 25vh;
}
.caixas .nomeautor{
    font-size: 1rem;
    margin-top: 0.5rem;
}
/* .caixas .valordocurso{
    height: 2.5rem;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    position: relative;
    bottom: 4.5rem;
    left: 23.9rem;
    font-size: 1.1rem;
} */
.caixas .duracãocurso{
    display: inline;
    color: var(--azulBase);
    cursor: pointer;
    position: relative;
    bottom: 6rem;
    left: 25.9rem;
    background-color: var(--azulBase);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.nomepag{
    position: relative;
    bottom: 54rem;
    left: 25rem;
    color: var(--roxobase);
    font-size: 1.5rem;
   

}
.botaofavorito{
    display: inline;
    position: absolute;
    top: 25.5%;
    left: 68rem;
    background-color: transparent;
    border: none;
    cursor: pointer; 
    width: 2rem;   
}
.botaofavorito2{
    display: none;
    position: absolute;
    top: 18.5rem;
    left: 68rem;
    background-color: transparent;
    border: none;
    cursor: pointer; 
    width: 2rem;   
}
.botaofavoritob{

    display: inline;
    position: absolute;
    top: 18.5rem;
    left: 28rem;
    background-color: transparent;
    border: none;
    cursor: pointer; 
    width: 2rem;   

}

.valorebotaofav{
    background-color: turquoise;
    width: 20vh;
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 4.5rem;
    left: 18.5rem;

}
.caixas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;

    
}

.infocurso{

    
    height: 8vh;
    width: 25vh;
}
.infocurso1{

    
    display: flex;
    justify-content: end;
    height: 8vh;

}
.infocurso1 p{
height: 1rem;
position: absolute;
margin-right: 1rem;
margin-top: 0.5rem;
}
.infocurso1 .divcoracao .coracao {
    cursor: pointer;    
    border: none;
    background-color: transparent;
}
.divcoracao{
    display: inline; 
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin-top: 2.5rem;
    margin-right: 2rem;

  }
.temmess{
    position: relative;
    top: 3.8rem;
    left: 0.7rem;
    margin-top: -2rem;
}

                                        /* teste do botão voltar ao topo */
.btn-scroll-top {
position: fixed;
right: 2rem;
bottom: 2rem;
display: grid;
place-items: center;
outline: none;
border-radius: 100%;                                       
opacity: 0;                                         
cursor: pointer;                                    
pointer-events: none;
transition: opacity 0.5s ease;
z-index: 10;
}                                         
.show-btn-scroll-top {
opacity: 1;
pointer-events: all;
}                                        


