/* filtro flutuante */
:root {
    --cinzaBase: rgb(220, 220, 220);

    --cinzaBasee: rgb(158, 158, 158);

    --cinzaBasec: rgb(215, 214, 214);

    --laranjaBase: rgb(228, 95, 16);

    --brancoBase: rgb(255, 255, 255);

    --preto: #0E0E0E;

    --azulBase: #2B63F0;

    --azulBasec: rgb(116, 84, 233);

    --roxobase: #942af1;

    --roxoc: rgb(172, 161, 210);

    --vermelhom: #EF0000;

    --ModoEscuroBase: #1F1F1F;
    --ModoEscuroMesc: #656565;
    --ModoEscuroFilt: #131313;

    --ModoEscuroFontC: #E197FF;

  
}


/*-------------------------------- Modo Escuro --------------------------------*/

.modoEscuro {
    color: var(--brancoBase);
    background-color:var(--ModoEscuroBase);
}

.modoEscuro .filtroflutuante{
   
    background-color: var(--ModoEscuroFilt);
    border: 1px solid rgb(27, 27, 27)
    
}

.modoEscuro a.migalhadepaocursos ,.modoEscuro .campo p , .modoEscuro .campos p , .modoEscuro .indefi , .modoEscuro .temmes , .modoEscuro .presen , .modoEscuro .homee ,.modoEscuro .limparfiltro a{
    color: white; 
}

.modoEscuro .filtroflutuante h2 , .modoEscuro p.filtrar, 
.modoEscuro .aplicar a , .modoEscuro h1 {
    color: var(--ModoEscuroFontC);
}

.modoEscuro .linhacampos, .modoEscuro .linhaPreco , .modoEscuro .linhahabi , .modoEscuro .duracao , .modoEscuro .loc {
    border-bottom: var(--ModoEscuroFontC) 1px solid;
}

.modoEscuro .caminhonavegaçãovagas a {
    color: rgb(255, 255, 255);
}

.migalhadepaocursos a{
    color: var(--roxobase);
}
.caminhonavegaçãovagas a{
    color: black;
}
.caminhonavegaçãovagas{
    margin: 2rem;
}
                                          /* Main */
.prCursos{
    height: 60rem;
    display: flex;
}
main{
    height: 80rem;
}
.filtroflutuante{

    background-color: transparent;
    border: 1px solid var(--cinzaBasee);
    margin-top: 5rem;
    height: 85vh;
    width: 20%;
    border-radius: 10px;
    padding: 3rem;
}
.tiposdecursoscursos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 2rem;
    gap: 1rem;
}
.precocursos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
    gap: 1rem;
}
.precominmax{
    display: flex;
    border: none;
    width: 15%;
    height: 20px;
    background-color: var(--cinzaBase);
    border-radius: 5px;
}
.divinputpreco{
    display: none;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
}
.duracaocursos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
    gap: 1rem;
}
.localcursos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
    gap: 1rem;
}
.titulosfiltroflutuante{
    color: var(--roxobase);
    border-bottom: 1.5px solid var(--roxobase);
}
.filtroflutuante img{
    width: 50px;
}
.titulofiltroflutuante{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}
.titulofiltroflutuante h2{
    font-size: 2.5rem;
    color: var(--roxobase);
}
.aplicarfiltrocursos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}
.aplicarfiltrocursos button{
    background-color: transparent;
    color: var(--roxobase);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
}
.limparfiltrocursos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.limparfiltrocursos button{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}
.setaoneoffcursos img{
    width: 15px;
}
.setaoneoffcursos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.faixadeprecocursos{
    display: flex;
    justify-content: start;
    gap: 0.5rem;
}
#setapreco, #seta{
    transition: transform 0.5s;
}
.faixadeprecocursos{
    display: none;

}
.vagasvagas{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    margin-left: 2rem;
}
.mainvagas{
    display: flex;

}
.containervagas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin-left: 2rem;
    padding: 1rem;
    gap: 1rem;
}
.vagas{
    height: 20rem; /* se colocar em 23rem não buga em 1500px*/
    padding: 1rem;
    background-color: var(--cinzaBasec);

}
.vagas img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}
.nomevagaehoradapostagem{
    margin: 0.5rem;
    


}
.nomevagaehoradapostagem p{
    gap: 1.5rem;
    margin: 0.7rem 0;
}
.informacoesvagas{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
}
.botaoenviarproposta{
    margin-right: 1.5rem;
    border: none;
}
.botaoenviarproposta button{
    background-color: var(--azulBase);
    color: var(--brancoBase);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-bottom: 1.5rem;
}
.botaoenviarproposta button:hover{
    background-color: var(--azulBasees);
}
.mmoreinfo a{
    color: var(--azulBase);
}

.temmess{
    position: relative;
    top: 3.8rem;
    left: 0.7rem;
    margin-top: -2rem;
}
.botaoenviarproposta{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.botaoenviarproposta img{
    width: 45px;
    margin-top: 0.1rem;
}

                                        /* teste do botão voltar ao topo */
.btn-scroll-top {
position: fixed;
right: 2rem;
bottom: 2rem;
display: grid;
place-items: center;
outline: none;
border-radius: 100%;                                       
opacity: 0;                                         
cursor: pointer;                                    
pointer-events: none;
transition: opacity 0.5s ease;
z-index: 10;
}                                         
.show-btn-scroll-top {
opacity: 1;
pointer-events: all;
}                                        


