/*------------------------------------------------------------------------------*/
/*-------------------------------- Explorar CSS --------------------------------*/
/*------------------------------------------------------------------------------*/

:root {
    --cinzaBase: rgb(220, 220, 220);

    --cinzaBasee: rgb(158, 158, 158);

    --cinzaBasec: rgb(215, 214, 214);

    --laranjaBase: rgb(228, 95, 16);

    --brancoBase: rgb(255, 255, 255);

    --preto: #0E0E0E;

    --azulBase: #2B63F0;

    --azulBasee: #00008b;

    --azulBasec: rgb(116, 84, 233);

    --roxobase: #942af1;

    --roxoc: rgb(172, 161, 210);

    --branco: #f3f3f3;

    --brancomenuperfil: #E6E6E6;
    ;

    --vermelhom: #EF0000;



    --ModoEscuroBase: #1F1F1F;
    --ModoEscuroMesc: #656565;
    --ModoEscuroMesc2: #555555;

    --ModoEscuroFontV: #5AB3FF;
    --ModoEscuroFontC: #E197FF;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--brancoBase);
}

/*RESPONSIVIDADE DO SITE COMEÇA A BUGAR COM 430PX*/

/*-------------------------------- Modo Escuro --------------------------------*/


.modoEscuro {
    color: white;
    background-color: var(--ModoEscuroBase);
}

.modoEscuro header .botaoMenu span {
    background-color: var(--brancoBase);   
}



.modoEscuro .explorar,
.modoEscuro .filtroExplorar .buttonFiltro,
.modoEscuro .filtroExplorar .filtroButton {
    background-color: var(--ModoEscuroMesc2);
    color: var(--brancoBase);
}

.modoEscuro .explorar a {
    color: var(--brancoBase);
}

.modoEscuro .explorar .explorarDiv a {
    color: var(--ModoEscuroFontV);

}

.modoEscuro .explorar .explorarDiv {
    border-bottom: 1px solid var(--ModoEscuroFontV);
}

.modoEscuro .navsite .navSelecionado {
    border-bottom: 3px solid var(--ModoEscuroFontV);
}

.modoEscuro .filtroExplorar input {
    background-color: var(--ModoEscuroMesc2);
    color: var(--brancoBase);
}

.modoEscuro .filtroExplorar input::placeholder {
    color: var(--brancoBase);
}


/*-------------------------------- Header inicio --------------------------------*/

header {
    background-color: var(--preto);
    padding: 1rem;
    height: 6rem;
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

header .logosite,
header .navsite,
header .pesquisasite,
header .usersite {
    display: flex;
    align-items: center;
}

header .logosite {
    width: 20%;
    justify-content: center;
    height: 100%;
}

header .navsite {
    width: 20%;
    gap: 1rem;
}

.navsite .navSelecionado {
    height: 100%;
    border-bottom: 3px solid var(--azulBase);
    padding: 2rem 0.4rem 2rem 0.4rem;
}

header .pesquisasite {
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header .pesquisasite input {
    border: none;
    height: 50%;
    width: 80%;
    border-radius: 0.8rem;
    outline: none;
    padding: 1rem;
}

header .usersite {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    gap: 15%;
}

header .usersite img {
    height: 2rem;
}

header .logosite img {
    height: 100%;
}

header .sobrenoss {
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 5px;
    border-left: 1px solid var(--brancoBase);
    border-right: 1px solid var(--brancoBase);
}

header .hamburguer {
    display: none;
}

header .botaoMenu {
    display: none;
}

header .userhover {
    display: none;
    width: 5rem;
}

header .userhover img {
    height: 80%;
}

header .botaoMenu {

    display: none;
    flex-direction: column;
    gap: 6px;
    background-color: transparent;
    border: none;
}

header .botaoMenu span {
    width: 1.5rem;
    height: 2px;
    background-color: var(--azulBase);
}



/*-------------------------------- Section fy --------------------------------*/

.explorar {
    height: 3.5rem;
    background-color: var(--cinzaBase);
    display: flex;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
}

.explorar a {
    color: var(--preto);
    font-size: 1.3rem;
}

.explorar .explorarDiv {
    border-bottom: 1px solid var(--azulBase);
}

.explorar .explorarDiv a {
    color: var(--azulBase);
}

.explorar .tendencia {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-left: 1px solid var(--cinzaBasee);
}

.migalhaIndex {
    padding: 2rem 0 0 2rem;
    margin-top: 1rem;
}

.migalhaIndex h1 {
    font-size: 2rem;
    color: var(--preto);
}

.filtroExplorar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 0 2%;
    margin-top: 2.5rem;
}

.filtroExplorar .buttonFiltro {
    width: 20%;
    background-color: var(--cinzaBasec);
    border: none;
    border-radius: 0.8rem;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    gap: 0.8rem;
    padding: 0.4rem 0.3rem;
}

.filtroExplorar .buttonFiltro img {
    height: 2.5rem;
}


/*-------------------------------- Main prIndex --------------------------------*/

.prIndex {
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}


/*-------------------------------- Main Imagens --------------------------------*/
.gride {
    display: grid;
    gap: 1rem;
    margin: 0 2% 0 2%;
    border-radius: 0.6rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20rem 20rem 20rem;
    grid-template-areas: "f1 f6 f3 f8"
        "f5 f6 f7 f8"
        "f5 f2 f7 f4";
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-wrap: wrap;
}

.gride>div {
    position: relative;
    background-color: #f0f0f0;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gride>div .portHover {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    padding-left: 1rem;
    height: 5rem;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    transition: all 0.5s;
}

.gride>div .portHover .like {
    display: flex;
    flex-direction: row;
    padding-left: 85%;
}

.gride>div .portHover p img {
    height: 60%;
}

.gride>div:hover .portHover {
    top: 0;
}

.gride #filho1 {
    background-image: url(../img/img_port/1.jpg);
    background-size: cover;
    grid-area: f1;
    border-radius: 0.8rem;
}

.gride #filho2 {
    background-image: url(../img/img_port/portIndx/2.jpg);
    background-size: cover;
    grid-area: f2;
    border-radius: 0.8rem;

}

.gride #filho3 {
    background-image: url(../img/img_port/portIndx/3.jpg);
    background-size: cover;
    grid-area: f3;
    border-radius: 0.8rem;
}

.gride #filho4 {
    background-image: url(../img/img_port/portIndx/4.jpg);
    background-size: cover;
    grid-area: f4;
    border-radius: 0.8rem;
}

.gride #filho5 {
    background-image: url(../img/img_port/portIndx/5.jpg);
    background-size: cover;
    grid-area: f5;
    border-radius: 0.8rem;
}

.gride #filho6 {
    background-image: url(../img/img_port/portIndx/6.jpg);
    background-size: cover;
    grid-area: f6;
    border-radius: 0.8rem;
}

.gride #filho7 {
    background-image: url(../img/img_port/portIndx/7.jpg);
    background-size: cover;
    grid-area: f7;
    border-radius: 0.8rem;
}

.gride #filho8 {
    background-image: url(../img/img_port/portIndx/8.jpg);
    background-size: cover;
    grid-area: f8;
    border-radius: 0.8rem;
}

.prIndex .img3 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.img2 img {
    width: 80%;
}

.selecionado {
    height: 138%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0E0E0E;
}

/*------------------------------Modal Portifolio-----------------------------*/

#modalPort,
.sign-up-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 8rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content,
.sign-up-content {
    position: relative;
    background-color: var(--brancoBase);
    margin: auto;
    width: 80%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--preto);
    color: var(--brancoBase);
    padding: 1rem;
    border: 0.365rem solid transparent;
    border-image: linear-gradient(-90deg, rgb(75, 15, 110)0%, rgb(45, 100, 240)100%) 1;
}

.botaoContratar {
    width: 10rem;
    border: none;
    padding: 1rem;
    color: var(--brancoBase);
    font-weight: 700;
    cursor: pointer;
    border-radius: 1rem;
    background-image: linear-gradient(-90deg, rgb(75, 15, 110)0%, rgb(45, 100, 240)100%);
}

.botaoContratar:hover {
    background-image: linear-gradient(-90deg, rgb(90, 30, 125)0%, rgb(60, 115, 255)100%);
}

.modal-body {
    display: flex;
    gap: 2rem;
    padding: 0.5rem 1rem;
    height: auto;
}

.modal-nav {
    margin: 0rem;
    gap: 0.5rem;
}

.modal-nav button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--brancoBase);
    width: 4rem;
}

.modal-button {
    width: 3rem;
    height: auto;
    margin: 0.5rem;
}

#modalImage {
    width: 80%;
}

.close {
    position: absolute;
    left: 101%;
    top: 0.5%;
    color: var(--brancoBase);
    float: right;
    font-size: 1.8rem;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: var(--cinzaBasec);
    text-decoration: none;
    cursor: pointer;
}

.perfilPort {
    display: flex;
    gap: 0.5rem;
    align-items: center;

}

.perfilPort p {
    font-weight: 400;
    font-size: 0.5rem;
}

.filtroExplorar input {
    display: none;
}



/*------------------------------------ Footer -----------------------------------*/

footer {
    height: 12rem;
    background-color: var(--preto);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    justify-content: space-between;
}

.linksfooter {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.linksfooter .infofooter {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

}

.linksfooter .infofooter img {
    height: 5rem;
}

.linksfooter .infofooter select {
    color: var(--brancoBase);
    background: none;
    border: none;
    outline: none;
}

.linksfooter .infofooter select option {
    background-color: var(--preto);
}

.direitosautorais {
    color: var(--brancoBase);
}

.borda {
    border-bottom: 1px solid red;
    /*não apagar isso é so pra testar */
}

/*seta para subir a guia */
.btn-scroll-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: grid;
    place-items: center;
    outline: none;
    border-radius: 100%;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 10;
}

.show-btn-scroll-top {
    opacity: 1;
    pointer-events: all;
}

/*fim da seta */
/* inicio meno perfil*/

#menuperfil {
    position: absolute;
    /* left: 107rem; */
    left: 125rem;
    background-color: var(--brancomenuperfil);
    width: 13rem;
    height: 15rem;
    z-index: 1;
    padding: 1rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1.5rem;
    transition: all 0.5s;
    display: none;
}

#menuperfil a {
    color: var(--preto);
    font-size: 1.2rem;
    font-weight: 700;
}

#sairdomenuperfil {
    color: var(--vermelhom);
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*------------------------------------------------------------------------*/
/*-------------------------------- @media --------------------------------*/
/*------------------------------------------------------------------------*/

@media screen and (max-width: 1200px) {

    header .pesquisasite input {
        width: 60%;
        display: flex;
        justify-content: center;
        margin-left: 3rem;
    }

    .close {
        position: absolute;
        left: 101%;
        top: 0.5%;
    }

    .gride {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 15rem 15rem 15rem;
        grid-template-areas: "f1 f6 f3 "
            "f5 f6 f7 "
            "f5 f2 f7 ";
    }

    #filho4 {
        display: none;
    }

    #filho8 {
        display: none;
    }


}

@media screen and (max-width: 1200px) {

    header {
        display: flex;
        justify-content: space-between;
    }

    header .navsite {
        display: none;
    }

    header .pesquisasite {
        display: none;
    }

    header .usersite {
        display: none;
    }

    header .userhover {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .botaoMenu {
        display: flex;
    }

    header .hamburguer .botoesmenuhamburguer {

        color: var(--cinza100);
        padding: 1rem;
        cursor: pointer;
        color: white;

    }

    header .hamburguer .botoesmenuhamburguer:hover {
        color: white;
        background-color: #8C8C8C;
    }

    header .hamburguer {
        display: flex;
        height: 31%;
        position: absolute;
        flex-direction: column;
        width: 25%;
        top: 10%;
        bottom: 49%;
        left: -99%;
        background-color: var(--preto);
        align-items: center;
        gap: 0.5em;
        transition: left 0.3s;
        z-index: 1;
    }

    header .hamburguer .botoesmenuhamburguer {

        color: var(--cinza100);
        padding: 1rem;
        cursor: pointer;
        color: white;

    }

    header .hamburguer .botoesmenuhamburguer:hover {

        color: white;
        background-color: #8C8C8C;
    }

    header .userhover {

        height: 70%;
    }

    .inicio .logosite img {
        height: 80%;
    }

    .explorar {
        display: none;
    }

    .filtroExplorar .exp {
        display: none;
    }

    .filtroExplorar {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    .filtroExplorar input,
    .filtroExplorar .buttonFiltro {
        width: 100%;
        background-color: var(--cinzaBasec);
        border: 1px solid var(--cinzaBasee);
        height: 3rem;
        border-radius: 3rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.5rem;
        outline: none;
    }

}

@media screen and (max-width: 950px) {

    .close {
        position: absolute;
        left: 101%;
        top: 0.5%;
    }

    .prIndex .perfilPort h1 {
        font-size: 140%;
    }

}


@media screen and (max-width: 750px) {

    .close {
        position: absolute;
        left: 101%;
        top: 0.5%;
    }

    .perfilPort {
        font-size: 70%;
    }

    .perfilPort p {
        font-size: 60%;
    }

}


@media screen and (max-width: 660px) {

    .close {
        position: absolute;
        left: 101%;
        top: 0.5%;
    }

    .perfilPort {
        font-size: 60%;
    }

    .perfilPort p {
        font-size: 60%;
    }

    .linksfooter {
        width: 100%;
    }

    .infofooter img {
        display: none;
    }

}

@media screen and (max-width: 500px) {

    .main.prIndex {

        margin-bottom: 2rem;
    }

}


@media screen and (max-width: 450px) {

    .prIndex {
        padding: 1rem;
    }

    .gride {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 15rem);
        grid-template-areas: "f1"
            "f5"
            "f5"
            "f2"
            "f6"
            "f6";

    }

    .close {
        position: absolute;
        left: 101%;
        top: 0.5%;
    }

    .perfilPort {
        font-size: 60%;
        width: 100%;
    }

    .perfilPort p {
        font-size: 50%;
    }

    .inicio .logosite img {
        height: 60%;
    }

    .filtroExplorar {
        width: 100%;
    }

    .filtroExplorar input,
    .filtroExplorar .buttonFiltro {
        width: 100%;
        font-size: 1.1rem;
    }

    #filho3,
    #filho4,
    #filho7,
    #filho8 {
        display: none;
    }

    #menu {
        width: 10rem;
    }
}

@media screen and (max-width: 230px) {

    header .logosite {
        display: none;
    }

    .gride {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 10rem);
        grid-template-areas: "f1"
            "f5"
            "f5"
            "f2"
            "f6"
            "f6";

    }

    #menu {
        width: 7rem;
        height: 8rem;
        position: absolute;
        left: 0;
        top: 5.9rem;
    }

    #menu .botoesmenuhamburguer {
        font-size: 1rem;
        padding: 0.2rem;
    }

    footer {
        height: 20rem;
        font-size: 0.8rem;
        padding: 0.3rem;
    }

    footer .linksfooter {
        flex-direction: column;
        gap: 1rem;
    }

    .linksfooter select {
        width: 80%;
    }

    .vlibrass {
        display: none;
    }

    .filtroExplorar .buttonFiltro {
        font-size: 0.8rem;
    }

    .filtroExplorar .buttonFiltro img {
        height: 2rem;
    }

}