*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --cinzaBase: rgb(220, 220, 220);

    --cinzaBasee: rgb(158, 158, 158);

    --cinzaBasec: rgb(215, 214, 214);

    --laranjaBase: rgb(228, 95, 16);

    --brancoBase: rgb(255, 255, 255);

    --preto: #0E0E0E;

    --azulBase: #2B63F0;

    --azulBasee: #00008b;

    --azulBasec: rgb(116, 84, 233);

    --roxobase: #942af1;

    --roxoc: rgb(172, 161, 210);

    --branco: #f3f3f3;

    --verde: #357635;

    --brancomenuperfil: #E6E6E6;

    --brancohovermenuham: rgba(217, 217, 217, 1);



    --cinzaescurofundodomudartema: #3A3A3A;

    --vermelhom: #EF0000;
    --ModoEscuroVermelho:#fd4848;



    --ModoEscuroBase: #1F1F1F;
    --ModoEscuroFilt: #131313;
    --ModoEscuroMesc: #656565;
    --ModoEscuroMesc2: #555555;


    --ModoEscuroFontV: #5AB3FF;
    --ModoEscuroFontC: #E197FF;


}


main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.esquerda {
    flex: 0.16;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.opcaoconfig{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    background-color: var(--cinzaBasee);
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;  
    transition: background-color,transform 0.3s;
}


.opcaoconfig img {
    width: 20px;
    height: 20px;
}

.opcaoconfig:hover {
    background-color: var(--cinzaBasec);
    transform: scale(1.05);
}


.direita {
    flex: 1;
    background-color: #ffffff;
    width: 90%;
}

.configgeral, .confignotifacacao{
    margin-top: auto;
    width: 100%;
    padding: 1rem;
}

.headerconfig h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.headerconfig p {
    font-size: 1rem;
    color: var(--cinzaBasee);
    margin-top: 0.5rem;
}

.containeropcaoselect{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.containeropcaoselect select {
    padding: 0.5rem;
    font-size: 1rem;
    width: 10%;
    border: 1px solid var(--cinzaBasee);
    border-radius: 5px;
    background-color: var(--brancoBase);
    cursor: pointer;
}

.containerswitches{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.containerswitches label{
    font-size: 1rem;
    font-weight: bold;
}

.ativo{
    transform: scale(1.10);
}

/* From Uiverse.io by guilhermeyohan */ 
.checkbox-apple {
  position: relative;
  width: 50px;
  height: 25px;
  margin: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-apple label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkbox-apple label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.checkbox-apple input[type="checkbox"]:checked + label {
  background: linear-gradient(to bottom, #4f6ce4, #4f6ce4);
}

.checkbox-apple input[type="checkbox"]:checked + label:after {
  transform: translateX(25px);
}

.checkbox-apple label:hover {
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
}

.checkbox-apple label:hover:after {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.yep {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
}